<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">  
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ChatBox</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">  
  <link href="https://fonts.googleapis.com/css?family=Rubik:400,500,700&display=swap" rel="stylesheet">
  <link href="public/style.css" rel="stylesheet" type="text/css"/>
</head>
<body>
  <div class="login">
    <form action="/chat" method="POST" class="chart">
      <h3>¿Cuál es tu nombre?</h3>
      <input type="text" name="nickname">
      <button type="submit">Login</button>
    </form>
  </div>
</body>
</html>